.header {
  display: flex;
  align-items: center;
  padding-top: 40px;
  border-bottom: 1px solid #828282;
  transform: matrix(1, 0, 0, 1, 0, 0);
  background-color: #fff;
}

.header__list {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  padding-bottom: 20px;
}

.header__item {
  position: relative;
  width: 90px;
  height: 30px;
  cursor: pointer;

  &:last-child {
    width: 75px;
    height: 30px;
  }
}

.header__link {
  position: absolute;
  top: -8px;
  font-family: var(--text-font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  color: var(--header-text-color);

  &:hover,
  &:focus {
    color: var(--text-color);
  }
}

.header__link-current {
  position: absolute;
  top: -8px;
  font-family: var(--text-font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  color: var(--text-color);
}
